###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
*.lock
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

###> node ###
/node_modules
###< node ###

###> pStorm ###
/.idea/workspace.xml
###< pStorm ###

###< kartoklooud ###
/jsonData/*
###